@import url('https://fonts.googleapis.com/css?family=Google+Sans:200,300,400');
@media only screen {
  body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Liberation Sans, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  .message {
    background: white;
    max-width: 90%;
    margin: 20px auto 20px;
    padding: 30px 24px;
    border-radius: 3px;
  }
  .message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
  }
  .message h1 {
    font-family: Google Sans, Roboto, Liberation Sans, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
  }
  .message p {
    line-height: 140%;
    margin: 16px 0 24px;
    text-align: justify;
    font-size: 14px;
  }
  .message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
  }
  .message,
  .message a,
  .chart,
  .widget {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .dash {
    display: flex;
    justify-content: space-around;
  }
  .widget {
    background: white;
    min-width: 20%;
    max-width: 30%;
    margin: 20px auto 20px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
  }
  .widget h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 8px;
  }
  .widget .main-content {
    color: black;
    font-size: 40px;
    font-weight: 500;
  }
  .widget .sub-content {
    color: black;
    font-size: 25px;
  }
  .widget .mini-bar {
    display: flex;
    justify-content: space-around;
  }
  .widget .info-text {
    font-size: smaller;
  }
  .item {
    margin: 2px
  }
  .unit-etq {
    vertical-align: super;
    font-size: 70%; 
  }
  .load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
  }
  .chart {
    background: white;
    min-height: 550px;
    max-width: 90%;
    margin: 10px auto 10px;
    border-radius: 3px;
  }
  @media (max-width: 600px) {
    body,
    .message {
      margin-top: 0;
      background: white;
      box-shadow: none;
    }
    .message {
      margin-bottom: 5px;
      padding: 10px;
    }
    .message h1 {
      font-size: 25px;
    }
    .message p {
        margin: 5px 0 10px;
    }
    body {
      border-top: 16px solid #ffa100;
    }
    .dash {
      /*flex-direction: column;*/
    }
    
    .widget {
      background: white;
      min-width: 20%;
      max-width: 30%;
      margin: 10px auto 10px;
      padding: 1px;
      border-radius: 3px;
      text-align: center;
    }
    .widget h2 {
      color: #ffa100;
      font-weight: bold;
      font-size: 15px;
      margin: 0 0 8px;
    }
    .widget .main-content {
      color: black;
      font-size: 25px;
      font-weight: 500;
    }
    .widget .sub-content {
      color: black;
      font-size: 15px;
    }
    .widget .mini-bar {
      display: flex;
      justify-content: space-around;
    }
    .widget .info-text {
      display: none;
    }
    .last-date {
      font-size: smaller;
    }
    .mini-bar .item div {
      font-size: 15px;
    }
  }
}


